.bf-header {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 12px;

  .bf-back-btn-wrapper {
    flex: 0 0 100px;

    button {
      float: left;
    }
  }

  .bf-header-title {
    flex: 1 1 auto;
    text-align: center;
    margin: 0
  }

  .bf-reset-btn-wrapper {
    flex: 0 0 100px;

    button {
      float: right;
    }
  }
}