.bf-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  border-radius: 4px;
  height: 500px;

  background-color: whitesmoke;
  color: black;

  p {
    margin: 0;
    margin-bottom: 8px;
  }

  .bf-header {
    flex: 0 0 auto;
  }

  .bf-content-wrapper {
    flex: 1 1 auto;
    padding: 12px;

    overflow: scroll;
  }

  .bf-footer {
    flex: 0 0 auto;
  }
}