.bf-footer {
  align-self: stretch;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 12px;

  .bf-cart-btn-wrapper {
    flex: 0 0 100px;

    button {
      float: left;
    }
  }

  .bf-footer-step-indicator {
    flex: 1 1 auto;
    text-align: center;
    margin: 0
  }

  .bf-help-btn-wrapper {
    flex: 0 0 100px;

    button {
      float: right;
    }
  }
}